---
title: Frontman - a new static site generator
---

<ul>
<% sitemap_tree.resources.each do |r| %>
  <li>
    <a href="<%= r.path %>"><%= r.data.title %></a>
  </li>
<% end %>
</ul>

Frontman is a new static site generator, written in Ruby. It is optimized for SPEED.